.Rproj.user
.Rhistory
.RData
inst/doc
data-raw/nasa_precip_export_2.txt
DraftExposurePaper/DraftExposurePaper_files
DraftExposurePaper/DraftExposurePaper.pdf
DraftExposurePaper/DraftExposurePaper.tex
